<template>
  <div>
    <h3>New Quote</h3>
    <button @click="coutner++">Increase</button>
    <p>{{ coutner }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      coutner: 0
    };
  },
  destroyed() {
    console.log("Destroyed");
  },
  deactivated() {
    console.log("Deactivated!");
  },
  activated() {
    console.log("Activiated");
  }
};
</script>

<style scoped></style>
